body{
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;

}

.square{
    width: 100px;
    height: 100px;
    background-color: rgb(125, 226, 252);
    display: inline-block;
}

.Escudo{
    position: relative;
}
.Escudo::after{
    position: absolute;
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.Espada{
    position: relative;
}
.Espada::after{
    position: absolute;
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#rj {
    margin-top: 10px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 255);
    border-radius: 20px;
    height: 30px;
    width: 100px;
}
#rj:hover {
    background-color: rgb(16, 16, 129);
    transition: 200ms;
}