#BOX{
    background-color: cadetblue;
    width: 80%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
div{
    color: white;
    font-size: 1.2em;
    overflow: auto;
}
.logo{
    float: left;
}
.lista{
    list-style: none;
    float: right;
    margin-top: 0;

}
li{
    display: inline;
    margin-left: 10px;
    transform: translate(50%, 50%);
}