body{
    margin: 0;
    padding: 0;
}

.square{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue; 
    padding: 10px;
    /*quando se está desenahndo uma borda tome cuidado porque a borda toma um espaço maior, o mesmo para o padding */
    box-sizing: border-box; /*limita o "problema" do aumento do elemento, entretanto diminui a parte amarela*/

}
.square2{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

/*.container{
    background-color: red;
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: greenyellow;
    margin: 10px;
}
.content{
    background-color: gray;
    outline: 5px solid rgb(19, 0, 128);
    padding: 5px;
}